/* TABLET */

@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 28px;
  }

  /* HIDE PERSONAL AVARTAR */
  .avartar img {
    visibility: hidden;
  }

  .avartar {
    width: 20px;
    height: 0;
  }

  /* NAV-BAR */
  #nav-bar .container {
    display: grid;
    grid-template-columns: 140px 140px auto 140px 140px;
    justify-content: center;
    align-items: center;
  }

  /* JOBS INFO */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    justify-content: center;
  }

  /* CERTIFICATION */
  .detail-9 div {
    width: 50%;
  }

  .certf-details img {
    width: 90%;
  }

  .digitalcontainer {
    display: grid;
    grid-template-columns: 2fr, 2fr, 1fr;
    gap: 10px;
    padding: 10px;
    background-color: rgb(17, 17, 241);
  }
}
